/* colors */
/* basic setting */
html {
  font-size: 10px;
}
.button {
  padding: 1rem 3rem;
  background-color: #fcb203;
  color: #ffffff;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
}
/* Typography */
section {
  padding: 10rem 0;
}
/* main */
main {
  padding: 3rem 0;
}
.header {
  height: 7rem;
}
.wrap {
  height: 7rem;
  display: table;
  width: 100%;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.phone-link {
  color: #1a1820;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  height: 7rem;
  line-height: 7rem;
}
